<h1>Politican Home</h1>
<% @d.each do |d| %>
    MemberId: <%= d.member_id %>
    First Name: <%= d.first_name %>
    Last Name: <%= d.last_name %>
    Facebook Account: <%= d.facebook_account %>

<% end %>